body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.one-box, .footer{
    color: white;
    background-color: #1F2937;
}
.one-box, .two-box, .three-box, .four-box {
    flex: 1;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.links {
    display: flex;
    gap: 35px;
}
.top-container {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 75px;
}
.top-text {
    margin-right: 48px;
    max-width: 40rem;
}
.placeholder {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.two-box {
    text-align: center;
    padding: 50px;
}
.info-container {
    display: flex;
    justify-content: center;
    gap: 35px;
}
.group {
    max-width: 175px;
}
.three-box {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.quote-container {
    max-width: 80rem;
    display: flex;
    flex-direction: column;
}
.four-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue-box {
    background-color: #3882F6;
    width: 90rem;
    display: flex;
    padding: 40px;
    border-radius: 10px;
    justify-content: space-around;
}
.footer {
    margin-top: auto;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.sign-up {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    min-width: 100px;
    min-height: 30px;
}
.hero-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}
.links, .hero-second-text {
    color: #E5E7EB;
    font-size: 24px;
}
.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 50px;
}
#sign-up {
    border: 3px solid white;
}
.blue-border {
    border: 2px solid rgb(72, 72, 231);
    height: 180px;
    border-radius: 10px;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: oblique;
    font-weight: 100;
}
.thor-quote {
    font-weight: 700;
    align-self: flex-end;
    font-size: 20px;
    max-width: 90rem;
}
#call, #call-second {
    color: white;
}
#call {
    font-size: 24px;
    font-weight: bold;
}